<div class="main_wrapper d_flex_column">
    <div class="function_div d_flex">
        <button class="visualize_btn">visualize <b class="white_color">( )</b></button>
        <div class="d_flex">
            <img class="left_bracket" src="assets/img/left_curly_bracket.png" alt="">
            <h2 class="function_text"><b class="return">return</b> <b class="blue">this</b> <b class="white_color">.</b> <b class="lightblue">arr</b> <b class="white_color">.</b> <b>map</b> <b class="white_color">(</b> <b>element</b>  <b>=></b> <b>element</b>  <b class="white_color">+</b>  <b>5</b>  <b class="white_color">)</b> </h2>
            <img class="right_bracket" src="assets/img/right_curly_brackets.png" alt="">
        </div>

    </div>
</div>