<div class="description_wrapper d_flex_column">
    <h2 class="headline">What does the JavaScript every function do?</h2>
    <p>The Javascript every method executes a callback function once for each element in the array.
        If you call the every method on an empty array, the method will always return true for any condition.</p>
    <div class="comment">
        <p> <em>"This method checks every element in the array that passes the condition, returning true or false as appropriate."</em></p>
    </div>
    <h2>Code Example</h2>
    <code class="codeblock">
        <p class="margin_bottom"><b class="blue">let </b> <b class="lightblue"> numbers</b> = [<b class="green">1, 2, 3, 4, 5, 6, 7</b>];</p>
        <p><b class="blue">let </b><b class="lightblue">greaterFive</b> = <b class="lightblue">numbers</b>.<b class="yellow">every</b>(<b class="lightblue">number</b> <b class="blue"> =></b> <b class="lightblue"> number</b> > <b class="green">5</b>);</p>
        <p class="margin_bottom"><b class="lightblue">console</b>.<b class="yellow">log</b>(<b class="lightblue">greaterFive</b>);</p>
        <p><b class="green">//Output = false</b></p>
    </code>
    <code class="codeblock">
        <p><b class="blue">let </b><b class="lightblue">smallerOne</b> = <b class="lightblue">numbers</b>.<b class="yellow">every</b>(<b class="lightblue">number</b> <b class="blue"> =></b> <b class="lightblue"> number</b> > <b class="green">0</b>);</p>
        <p class="margin_bottom"><b class="lightblue">console</b>.<b class="yellow">log</b>(<b class="lightblue">smallerOne</b>);</p>
        <p><b class="green">//Output = true</b></p>       
    </code>       
    <p class="read_more">Read more on</p>
    <a target="blank" href="https://www.javascripttutorial.net/javascript-every/">JS Tutorial</a>
</div>
