<div class="description_wrapper d_flex_column">
    <h2 class="headline">What does the JavaScript filter function do?</h2>
    <p>In JavaScript, the filter method allows us to filter through an array - iterating over the existing values, and
        returning only the ones that fit certain criteria, into a new array.
        The filter function runs a conditional expression against each entry in an array. If this conditional evaluates
        to true, the element is added to the output array. If the condition fails, the element is not added to the
        output array...</p>
        <div class="comment">
            <p> <em>"We have all used filters on websites as they help us to find things easily. I added one simple example to
                filter Names by starting with a sepcial letter."</em></p>
        </div>
    <h2>Code Example</h2>
    <code class="codeblock">
                <p><b class="lightblue">let </b> <b class="blue"> names</b> = [<b class="orange">'Marie', 'Julia', 'Kevin', 'Marcel', 'Andy'</b>];</p>
                <p><b class="lightblue">let </b> <b class="blue"> filteredNames</b> = <b class="blue"> names</b>.<b class="yellow">filter</b>(<b class="lightblue">element </b> <b class="blue">=> </b> <b class="lightblue">element</b>.<b class="yellow">startsWith</b>(<b class="orange">'M'</b>));</p>
                <p><b class="lightblue">console</b>.<b class="yellow">log</b>(<b class="lightblue">filtered</b>);</p>
                <p><b class="green">//Output = ['Marie', 'Marcel']</b></p>
            </code>
            <p class="read_more">Read more on</p>
            <a target="blank" href="https://stackabuse.com/guide-to-javascripts-filter-method/">StackAbuse</a>
            
</div>