.navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    background: #ecf0f1;
}

.logo {

    .visual_logo {
        color: #424949;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: -14px;
    margin-left: -11px;
    }

    .array_logo {
        font-size: 40px;
        background: -webkit-linear-gradient(#9a9a04, #e0dd00);;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}
