.main_wrapper {
    margin-top: 80px;
}

.function_div {
    background: #2e2e2e;
    padding-left: 16px;
    padding-right: 16px;
    height: 100px;
    width: 100%;

    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .white_color {
        color: #ecf0f1;
        font-weight: 500;
    }

    .left_bracket {
        width: 17px;
        height: 35px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .right_bracket {
        width: 17px;
        height: 35px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .return {
        color: #cc91ca;
        margin-right: 10px;
        font-weight: 500;
    }

    .blue {
        color: #60a6de;
        font-weight: 500;
    }

    .lightblue {
        color: #a5e1ff;
        font-weight: 500;
    }

    .yellow {
        color: #e3e37d;
        font-weight: 500;
    }

    .green {
        color: #bdd4af;
        font-weight: 500;
    }
}

.methods_div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    width: 90%;
    max-width: 1000px;
    transform: scale(0);
    transition: all 150ms ease-in-out;
}

.openMethods {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
    transform: scale(1) !important;
}

.buttons_wrapper {
    margin-bottom: 40px;
    margin-top: 0px;
}

.method_btn {
    outline: none;
    border: none;
    font-size: 15px;
    background: #ecf0f1;
    color: #2e2e2e;
    border: 2px solid black;
    width: 100px;
    height: 40px;
    font-weight: 500;
    margin: 10px;
    cursor: pointer;

    &:hover {
        border: 2px solid #b7b500 !important;
    }
}

.action_btn {
    outline: none;
    border: none;
    font-size: 23px;
    background: #ecf0f1;
    color: #2e2e2e;
    border: 2px solid black;
    width: 150px;
    height: 48px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
        border: 2px solid #b7b500 !important;
    }
}

.let_wrapper {
    margin-bottom: 20px;
}

.array_wrapper {
    .left_bracket_div {
        position: relative;
        border-left: 5px solid black;
        height: 300px;
        width: 20px;
    }

    .left_bracket {
        position: absolute;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        height: 290px;
        width: 20px;
    }

    .array {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 270px;
        width: 500px;
    }

    .array_element {
        margin-left: 1.5px;
        margin-right: 1.5px;
        width: 5px;
        background: linear-gradient(#9a9a04, #e0dd00);
    }

    .right_bracket_div {
        position: relative;
        border-right: 5px solid black;
        height: 300px;
        width: 20px;
    }

    .right_bracket {
        position: absolute;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        height: 290px;
        width: 20px;
    }
}

.footer_wrapper {
    margin-top: 50px;
    width: 80%;
}
.console {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 300px;
    width: 100%;
    max-width: 1000px;
    bottom: 0px;
    padding: 16px;
    background: #2e2e2e;

    .output_text {
        color: #ecf0f1;
    }

    .output {
        color: #ecf0f1;
        font-size: 17px;
    }
}
