<div class="description_wrapper d_flex_column">
    <h2 class="headline">What does the JavaScript reverse function do?</h2>
    <div class="comment">
        <p> <em>"This method reverses an array in place. Element at last index will be first and element at 0 index will be last."</em></p>
    </div>
    <h2>Code Example</h2>
    <code class="codeblock">
        <p class="margin_bottom"><b class="blue">let </b> <b class="lightblue"> numbers</b> = [<b class="green">5, 8, 3, 7, 1, 4, 2</b>];</p>
        <p><b class="lightblue">numbers</b>.<b class="yellow">reverse</b>();</p>
        <p><b class="lightblue">console</b>.<b class="yellow">log</b>(<b class="lightblue">numbers</b>);</p>
        <p><b class="green">//Output = [2, 4, 1, 7, 3, 8, 5]</b></p>
    </code>
    <p class="read_more">Read more on</p>
    <a target="blank" href="https://flexiple.com/javascript/reverse-javascript-array/">flexible</a>
</div>

