body {
    margin: 0;
    font-family: "Asap", sans-serif;
    background: #ecf0f1;
}

.d_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d_none {
    display: none;
}

.d_flex_column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.d_flex_space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secteion_bar {
    width: 50%;
    height: 3px;
    border-radius: 50px;
    background-color: #2e2e2e;
    margin-bottom: 30px;
    margin-top: 30px;
}

.return {
    color: #cc91ca;
    margin-right: 10px;
    font-weight: 500;
}

.blue {
    color: #60a6de;
    font-weight: 500;
}

.lightblue {
    color: #a5e1ff;
    font-weight: 500;
}

.yellow {
    color: #e3e37d;
    font-weight: 500;
}

.green {
    color: #bdd4af;
    font-weight: 500;
}

.orange {
    color: #d49b81;
    font-weight: 500;
}

.left_20 {
    margin-left: 20px;
}

.left_40 {
    margin-left: 40px;
}

.left_60 {
    margin-left: 60px;
}

.left_80 {
    margin-left: 80px;
}

.margin_bottom {
    margin-bottom: 20px !important;
}

@media (max-width: 650px) {
    .left_20 {
        margin-left: 10px;
    }
    
    .left_40 {
        margin-left: 20px;
    }
    
    .left_60 {
        margin-left: 30px;
    }
    
    .left_80 {
        margin-left: 40px;
    }
}
