<div class="description_wrapper d_flex_column">
    <h2 class="headline">What does the JavaScript map function do?</h2>
    <p>The map method in JavaScript creates an array by calling a specific function on each element of a provided array. Generally the map method is used to iterate over an array and calling a function on every element of an array.</p>
    <div class="comment">
        <p> <em>"This method creates a new array with the results of calling a provided function on every element in this array.
            "</em></p>
    </div>
    <h2>Code Example</h2>
    <code class="codeblock">
        <p class="margin_bottom"><b class="blue">let </b> <b class="lightblue"> numbers</b> = [<b class="green">1, 2, 3, 4, 5, 6, 7</b>];</p>
        <p><b class="blue">let </b><b class="lightblue">mapped</b> = <b class="lightblue">numbers</b>.<b class="yellow">map</b>(<b class="lightblue">number</b> <b class="blue"> =></b> <b class="lightblue"> number</b> + <b class="green">20</b>);</p>
        <p class="margin_bottom"><b class="lightblue">console</b>.<b class="yellow">log</b>(<b class="lightblue">mapped</b>);</p>
        <p><b class="green">//Output = [21, 22, 23, 24, 25, 26, 27]</b></p>
    </code>
    <p class="read_more">Read more on</p>
    <a target="blank" href="https://www.geeksforgeeks.org/javascript-array-map-method/">GeeksforGeeks</a>
</div>
